<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="mb-3 text-muted text-center">New interview</legend>
        <div class="form-group mb-1">
            {{ form.title.label(class="form-control-label text-muted")}}
            {% if form.title.errors %}
                {{ form.title(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
            {% else %}
               {{ form.title(class="form-control")}}
            {% endif %}
        </div>
        <div class="form-group mb-3">
            <label class="form-control-label text-muted">Topic</label>
            <select name='topic' class="form-control" placeholder="Topic" id="topic">
                <option value="None"></option>
                {% for topic in topics %}
                  <option value="{{topic.id}}">{{topic.content}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            {{ form.candidate_name.label(class="form-control-label text-muted")}}
            {% if form.candidate_name.errors %}
              {{ form.candidate_name(class="form-control is-invalid")}} 
              <div class="invalid-feedback">
                  {% for error in form.candidate_name.errors %}
                    <small class="text-danger">{{error}}</small>
                  {% endfor %}
              </div>
            {% else %}
                {{ form.candidate_name(class="form-control")}}
            {% endif %}
        </div>
        <div class="form-group mb-3">
          {{ form.user.label(class="form-control-label text-muted")}}
          {% if form.user.errors %}
            {{ form.user(class="form-control is-invalid")}} 
            <div class="invalid-feedback">
                {% for error in form.user.errors %}
                  <small class="text-danger">{{error}}</small>
                {% endfor %}
            </div>
          {% else %}
              {{ form.user(class="form-control")}}
          {% endif %}
        </div>
        <div class="form-group mb-3">
            <label class="form-control-label text-muted">Questions</label>
            <select name='question' class="form-control" placeholder="question" id="question" multiple>
                <option value="None"></option>
                {% for question in questions %}
                  <option value="{{question.id}}">{{question.content}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            {{ form.date.label(class="form-control-label text-muted")}}
            {% if form.date.errors %}
              {{ form.date(class="form-control is-invalid")}} 
              <div class="invalid-feedback">
                  {% for error in form.date.errors %}
                    <small class="text-danger">{{error}}</small>
                  {% endfor %}
              </div>
            {% else %}
                {{ form.date(class="form-control")}}
            {% endif %}
        </div>
       
        {{ form.submit(class="btn btn-success  mt-2")}}
    </fieldset>
</form>