<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container">
        <a class="navbar-brand text-white" href="{{ url_for('interviews.home')}}">Interview.com</a>
        {% if current_user.is_authenticated %}
        <button class="navbar-toggler border-0 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <i class="navbar-toggler-icon text-white"></i>
        </button>
        <div class="collapse navbar-collapse col-lg-6" id="navbarNavDropdown">
         
            <ul class="navbar-nav">
              {% if current_user.is_recruiter %}
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{{ url_for('interviews.home')}}">Home</a>
              </li>
             {% endif %}
              <li class="nav-item">
                <a href="{{ url_for('questions.listing') }}" class="nav-link text-white">Question</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('interviews.listing') }}" class="nav-link text-white">Interview</a>
              </li>
              {% if current_user.is_admin %}
              <li class="nav-item">
                <a href="{{ url_for('users.listing') }}" class="nav-link text-white">Users</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a href="{{ url_for('topics.listing') }}" class="nav-link text-white">Topics</a>
              </li>
            </ul>
            <div class="d-flex justify-content-end container">
              {% if current_user.is_authenticated %}
              <a href="{{ url_for('users.logout') }}" class="btn border border-white btn-sm text-white" style="margin-right:10px">Logout</a>
              {% else %}
              <a href="{{ url_for('users.login') }}" class="btn border border-white btn-sm text-white" style="margin-right:10px">
                Login
              </a>
              {% endif %}
          </div>
          {% endif %}
          
        </div>
    </div>
  
</nav>