html,
body {
    background-color: gainsboro
}

a {
    text-decoration: none
}

#searchForm {
    margin-left: auto;
    margin-right: auto;
}

form {
    border: 1px solid white;
    background-color: #FFFFFF;
    padding: 10px 12px 10px 12px;
    border-radius: 5px
}

.question_card {
    border-radius: 4px;
    color: white;
}

form {
    border: 1px solid white;
    background-color: #FFFFFF;
    padding: 10px 12px 10px 12px;
    border-radius: 5px
}