{% extends 'base.html' %}
{% block content %}
<div class="container col-lg-6 mt-3">
    <form method="POST" action="{{ url_for('questions.add') }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="mb-4 text-muted text-center">New Question</legend>
            <div class="form-group mb-3">
                {{ form.topic.label(class="form-control-label text-muted")}}
                {% if form.topic.errors %}
                    {{ form.topic(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.topic.errors %}
                        <small class="text-danger">{{error}}</small>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.topic(class="form-control")}}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.content.label(class="form-control-label text-muted")}}
                {% if form.content.errors %}
                    {{ form.content(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                        <small class="text-danger">{{error}}</small>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control")}}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.answer.label(class="form-control-label text-muted")}}
                {% if form.answer.errors %}
                {{ form.answer(class="form-control is-invalid")}} 
                <div class="invalid-feedback">
                    {% for error in form.answer.errors %}
                        <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.answer(class="form-control")}}
                {% endif %}
            </div>
            <div class="form-group mb-3">
            {{ form.max_score.label(class="form-control-label text-muted")}}
            {% if form.max_score.errors %}
                {{ form.max_score(class="form-control is-invalid")}} 
                <div class="invalid-feedback">
                    {% for error in form.max_score.errors %}
                    <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.max_score(class="form-control")}}
            {% endif %}
        </div>    
            {{ form.submit(class="btn btn-success  mt-2")}}
        </fieldset>
    </form>
</div>
{% endblock %}
