{% extends 'base.html' %}
{% block content %}
<div class='container'>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
      {% endif %}
  {% endwith %}
</div>
<div class='container ps-0'>
  <div class="mb-3 justify-content-center d-flex">
    <form method='POST' action="" style="background:gainsboro;border:none" id="searchForm">
        <input type="text" class="pb-1" placeholder="Search.." name="search" id="InterviewSearchField">
        <a class="btn btn-success btn-sm" id='BtnSearchInterview'><i class="fa fa-search"></i></a>
    </form>
    <a href="{{ url_for('questions.add') }}"><i class="fa fa-plus-circle text-success" aria-hidden="true" style='font-size:30px'></i></a>
  </div>
  <table class="table table-striped bg-white">
      <thead class="bg-success text-white">
        <tr>
          <th>TITLE</th>
          <th>ANSWER</th>
          <th>SCORE</th>
          <th>REMOVE</th>
        </tr>
      </thead>
      <tbody>
        {% for q in questions %}
          <tr>
              <td>
                <a href="#" class="nav-link text-success">{{ q.content | title}}</a>
              </td>
              <td><p>{{ q.expected_answer }}</p></td>
              <td style="text-align:center">{{ q.max_score }}</td>
              <td style="text-align:center"><a href="#"><i class="fa fa-trash text-warning" aria-hidden="true" style='font-size:20px'></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}