{% extends 'base.html' %}
{% block content %}

<div class="container ">
  <div class="col-md-10">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="col-lg-4 container col-md-6 mt-5">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="mb-4 text-center text-secondary">Sing in to Interview.com</legend>
          </fieldset>
          <div class="form-group mb-3">
              {{ form.email.label(class="form-control-label text-secondary")}}
              {% if form.email.errors %}
                  {{ form.email(class="form-control is-invalid")}}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <small class="text-danger">{{error}}</small>
                      {% endfor %}
                  </div>
              {% else %}
                {{ form.email(class="form-control")}}
              {% endif %}
          </div>
          <div class="form-group mb-3">
              {{ form.password.label(class="form-control-label text-secondary")}}
              {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid")}} 
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                      <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
              {% else %}
                  {{ form.password(class="form-control")}}
              {% endif %}
          </div>
          {{ form.submit(class="btn btn-success  mt-2 col-12")}}
          </fieldset>
      </form>
    </div>
</div>
{% endblock %}