{% extends 'base.html' %}
{% block content %}

<div class="container col-lg-10">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    {% if users %}
        <div class="d-flex justify-content-center mb-2">
            <form method='GET' action="{{ url_for('users.search') }}" class="col-lg-8" style="background:gainsboro;border:none" id="searchForm" >
               <small>Search by</small>
                <select class="mb-2">
                    <option>Expert</option>
                    <option>Recruiter</option>
                    <option>Admin</option>
                </select>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name='search' placeholder="search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a href="{{ url_for('users.add') }}">
                <i class="fa fa-plus-circle text-success" aria-hidden="true" style='font-size:30px'></i>
            </a>
        </div>
        <table class="table table-striped bg-white">
            <thead class="bg-success text-white">
            <tr>
                <th>USERNAME</th>
                <th>EMAIL ADDRESS</th>
                <th>RECRUITER</th>
                <th>EXPERT</th>
                <th>ADMIN</th>
                <th>DELETE</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <input type='checkbox' class="ms-1" value='{{ user.id }}'>
                    <a href="#" class=" text-success">{{ user.username | title}}</a>
                </td>
                <td>
                    <a href="#" class="nav-link text-success">{{ user.email | title}}</a>
                </td>
                <td>
                    {% if user.is_recruiter %}
                    <i class="fa fa-check text-success" style="font-size:17px"></i>
                    {% else %}
                    <i class="fa fa-close text-danger" style="font-size:17px"></i>
                    {% endif %}
                </td>
                <td>
                    {% if user.is_specialist %}
                    <i class="fa fa-check text-success" style="font-size:17px"></i>
                    {% else %}
                    <i class="fa fa-close text-danger" style="font-size:17px"></i>
                    {% endif %}
                </td>
                <td>
                    {% if user.is_admin %}
                    <i class="fa fa-check text-success" style="font-size:17px"></i>
                    {% else %}
                    <i class="fa fa-close text-danger" style="font-size:17px"></i>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    <a href="{{ url_for('users.delete', id=user.id) }}">
                       <i class="fa fa-trash text-warning" aria-hidden="true" style='font-size:20px'></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="container">
           <h2>No users into the database</h2>
        </div>
    {% endif %}
   </div>
{% endblock %}