{% extends 'base.html' %}
{% block content %}
<style>
    ul li{list-style:none;}
    ul{padding:0px}
</style>
<div class="container col-lg-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" class="mt-4">
        <h3 class="text-muted text-center">New user</h3>
        {{ form.hidden_tag()}}
        <div class="form-group">
            {{form.username.label(class="form-control-label text-muted")}}
            {{ form.username(class="form-control")}}
        </div>
        <div class="form-group mt-3">
            {{form.email.label(class="form-control-label text-muted")}}
            {{ form.email(class="form-control")}}
        </div>
        <div class="form-group mt-3">
            {{ form.is_recruiter(class="")}}
            {{ form.is_recruiter.label(class="form-control-label text-muted")}}
        </div>
        <div class="form-group mt-2">
            {{ form.is_expert(class='')}}
            {{ form.is_expert.label(class='form-control-label text-muted')}}
        </div>
        {{ form.submit(class="btn btn-success mt-3 col-md-12")}}
    </form>
</div>
{% endblock %}