{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <p> Do you really want to delete 
        {% if user.username %}
        <b>{{ user.username }}</b> ?
        {% else %}
        <b>{{ user.email }}</b> ?
        {% endif %}
    </p>
    <form method="POST" action="" style="background:none;border:none">
        <div class="group-form">
            <a href="{{ url_for('users.listing') }}" class="btn btn-secondary btn-sm">Cancel</a>
            <input type="submit" value="delete" class="btn btn-danger btn-sm">
        </div>
    </form>
</div>
{% endblock %}