{% extends 'base.html' %}
{% block content %}

<div class="container col-lg-10">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    {% if users %}
        <div class=" mb-2 mt-3">
            <form method='POST' action="{{ url_for('users.search') }}" class="col-lg-8" style="background:gainsboro;border:none" id="searchForm" >
                <div class="input-group mb-1">
                    <input type="text" class="form-control" name='search' placeholder="search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <form method='POST' action="{{ url_for('users.filter') }}" class="col-lg-8 container" style="background:gainsboro;border:none">
                <small>Filter by</small>
                <select class="mb-1 text-muted" name='role'>
                    <option>all</option>
                    <option value='expert'>Expert</option>
                    <option value='recruiter'>Recruiter</option>
                    <option value='admin'>Admin</option>
                </select>
                <input type='submit' class='btn-success border ms-1' name='filter' value='Go'>
            </form>
            <div class="d-flex justify-content-end">
                <a href="{{ url_for('users.add') }}" class="btn-secondary btn">
                    <small>add user</small>
                   <i class="fa fa-plus-circle text-white" aria-hidden="true" style='font-size:20px;'></i>
               </a>
            </div>
           
        </div>
        <table class="table table-striped bg-white">
            <thead class="bg-success text-white">
            <tr>
                <th>USERNAME</th>
                <th>EMAIL ADDRESS</th>
                <th>RECRUITER</th>
                <th>EXPERT</th>
                <th>ADMIN</th>
                <th>DELETE</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <input type='checkbox' class="ms-1" value='{{ user.id }}'>
                    <a href="#" class=" text-success">{{ user.username | title}}</a>
                </td>
                <td>
                    <a href="#" class="nav-link text-success">{{ user.email | title}}</a>
                </td>
                <td>
                    {% if user.is_recruiter %}
                    <i class="fa fa-check text-success" style="font-size:17px"></i>
                    {% else %}
                    <i class="fa fa-close text-danger" style="font-size:17px"></i>
                    {% endif %}
                </td>
                <td>
                    {% if user.is_specialist %}
                    <i class="fa fa-check text-success" style="font-size:17px"></i>
                    {% else %}
                    <i class="fa fa-close text-danger" style="font-size:17px"></i>
                    {% endif %}
                </td>
                <td>
                    {% if user.is_admin %}
                    <i class="fa fa-check text-success" style="font-size:17px"></i>
                    {% else %}
                    <i class="fa fa-close text-danger" style="font-size:17px"></i>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    <a href="{{ url_for('users.delete', id=user.id) }}">
                       <i class="fa fa-trash text-warning" aria-hidden="true" style='font-size:20px'></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr class='bg-light'>
                <td colspan='6'><small class="ms-1">{{ count }} users</small></td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <div class="container">
           <h2>No users into the database</h2>
        </div>
    {% endif %}
   </div>
{% endblock %}