{% extends 'base.html' %}
{% block content %}
<div class='container'>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
      {% endif %}
  {% endwith %}
</div>
<div class="mb-3 container justify-content-center d-flex col-md-8">
  <form method='POST' action="" style="background:gainsboro;border:none" id="searchForm">
      <input type="text" class="pb-1" placeholder="Search.." name="search" id="InterviewSearchField">
      <a class="btn btn-success btn-sm" id='BtnSearchInterview'><i class="fa fa-search"></i></a>
  </form>
  <a href="{{ url_for('topics.add') }}"><i class="fa fa-plus-circle text-success mt-2" aria-hidden="true" style='font-size:28px'></i></a>
</div>
<div class="col-md-8 col-lg-10 container">
    <table class="table table-striped bg-white">
        <thead class="bg-success text-white">
          <tr>
            <th><input type='checkbox'></th>
            <th>TITLE</th>
            <th>REMOVE</th>
          </tr>
        </thead>
        <tbody>
        {% for t in topics %}
          <tr>
            <td><input type='checkbox'></td>
            <td>
              <a href="#" class="nav-link text-success">{{ t.content | title}}</a>
            </td>
            <td>
              <a href="#" class="nav-link text-danger"><i class='fa fa-trash'></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}