{% extends 'base.html' %}
{% block content %}
<div class=" col-md-10">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
<div class="col-md-4 container mt-3">
    <form method="POST" action="" class="col-md-10">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="mb-4 text-muted text-center">New Topic</legend>
            <div class="form-group mb-3">
                {{ form.title.label(class="form-control-label text-muted")}}
                {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <small class="text-danger">{{error}}</small>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control")}}
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-success  mt-2 col-12")}}
        </fieldset>
    </form>        
</div>
{% endblock %}