{% extends 'base.html' %}
{% block content %}
<div class="container col-md-6">
    <form method="POST">
        <input type='hidden' value='{{ id }}' name="interview_id" id="interview_id" />
        <h2>Add evaluator</h2>
        {{ form.hidden_tag() }}
        {{ form.evaluators.label(class="form-control-label")}}
        {% if form.evaluators.error %}
         {{ form.evaluators(class="is-invalid ")}}
         <div class="invalid-feedback">
             {% for error in form.evaluators.errors %}
               <small class="text-danger">{{ error }}</small>
             {% endfor %}
         </div>
        {% else %}
          {{ form.evaluators(class="form-control")}}
        {% endif %}
        <div class="d-flex justify-content-end pt-3">
            {{ form.submit(class="btn btn-success")}}
            <a href="{{ url_for('interviews.detail', id=id) }}" class="btn btn-secondary ms-2">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}