{% extends 'base.html' %}
{% block content %}
<div class="container col-md-6">
    <form method="POST">
        <h2>Add question</h2>
        <input type='hidden' value='{{ id }}' id="interview_id" name="interview_id">
        <div class="form-group mb-3">
            <label class="form-control-label">Topic</label>
            <select name='topic' class="form-control" placeholder="Topic" id="topic">
                {% for topic in topics %}
                  <option value="{{topic.id}}">{{topic.content}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            <label class="form-control-label">Question</label>
            <select name='question' class="form-control" placeholder="question" id="question" multiple required>
                {% for question in questions %}
                  <option value="{{question.id}}">{{question.content}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-success" value="Submit">
            <a href="{{ url_for('interviews.detail', id=id) }}" class="btn btn-secondary ms-2">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}