{% extends 'base.html' %}
{% block content %}
<div class='container'>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="mb-3 container justify-content-center d-flex">
    <form method='POST' action="{{ url_for('interviews.search') }}" style="background:gainsboro;border:none" id="searchForm">
        <input type="text" class="pb-1" placeholder="Search.." name="search" id="InterviewSearchField">
        <button type='submit' class="btn btn-success btn-sm" id='BtnSearchInterview'><i class="fa fa-search"></i></button>
    </form>
    {% if current_user.is_recruiter %}
    <a href="{{ url_for('interviews.home') }}"><i class="fa fa-plus-circle text-success" aria-hidden="true" style='font-size:30px'></i></a>
    {% endif %}
</div>
<div class="container">
    <table class="table table-striped bg-white" id="interview-table">
        <thead class="bg-success text-white">
        <tr>
            <th><input type='checkbox'></th>
            <th>TITLE</th>
            <th>CANDIDATE NAME</th>
            <th>INTERVIEW DATE</th>
        </tr>
        </thead>
        <tbody>
        {% if not interviews %}
        <tr>
          <td colspan='5'><p>There is not interview for you</p></td>
        </tr>
        {% else %}
            {% for interview in interviews %}
            <tr>
                <td><input type='checkbox' class=''></td>
                <td><a href="{{ url_for('interviews.detail', id=interview.id) }}" class="nav-link text-success">{{ interview.title | title}}</a></td>
                <td>{{ interview.candidate_name }}</td>
                <td>{{ interview.date.strftime("%m - %d - %Y") }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}