{% extends 'base.html' %}
{% block content %}

<div class="container bg-white">
    <p>Do your really want to delete {{ interview.title }} ? </p>
    <form method="POST" class="col-md-3">
        <a href="{{ url_for('interviews.detail', id=interview.id) }}" class="btn btn-secondary btn-sm">Cancel</a>
        <input type='hidden' value='{{ interview.id }}' id='id' name='id'>
        <input type="submit" class="btn btn-danger btn-sm ms-1" value="delete">
    </form>
</div>
{% endblock %}