{% extends 'base.html' %}
{% block content %}
<style>
    p{font-size:18px}
</style>
<div class="container">
  <div class=" col-md-10">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
    <div class="d-flex justify-content-end pb-2">
        <a href="{{ url_for('interviews.listing') }}" class="btn btn-success">Interviews</a>
        <a href="#" class="btn btn-primary ms-2">Edit</a>
        <a href="{{ url_for('interviews.delete', id=interview.id) }}" class="btn btn-danger ms-2">Detele</a>
    </div>
    <div class="bg-white container pt-3">
      <h2>{{interview.title | title}}</h2>
      <p class="text-muted mt-3">Code :  <span class="text-dark">{{ interview.interview_id}}<span></p>
      <p class="text-muted mt-3">Evaluator Name:
          {% if interview.users %}
            {% for user in interview.users %}
               <span class="text-dark ms-2">{{user.username}}</span>,
            {% endfor %}
          {% else %}
            <a href="{{ url_for('interviews.interview_add_evaluator', id=interview.id) }}" class="btn btn-success btn-sm ms-3">Add evaluator</a>
          {% endif %}
      </p>
      <p class="text-muted mt-3">Candidate name : <span class="text-dark">{{interview.candidate_name | title}}</span></p>
    </div>
    <div class="bg-white container pb-2 pt-2 mt-3">
        <p class="text-muted">Created  : <span class="text-dark">{{ interview.created_at.strftime("%Y-%m-%d")}}<span></p>
        <p class="text-muted">Created by : </p>
         {% if interview.date == None %}
          <p class="text-muted">Schedule on : <a href="#" class="text-dark">No scheduled date</a></p>
         {% else %}
          <p class="text-muted">Schedule on : {{ interview.date.strftime("%Y-%m-%d")}}</p>
         {% endif %}
         <p class="text-muted">Final score : 
             {% if interview.final_score %} 
             <span>{{ interview.final_score }}</span>
             {% else %}
             <span class='text-success'> No final score yet</span>
             {% endif %}
        </p>
    </div>
    <div class="bg-white container mt-3 pt-3 pb-2">
        {% if interview.questions %}
            {% for q in interview.questions %}
            <div class="card mb-3 border-secondary">
                <div class="card-header bg-secondary border border-secondary">
                  <span class="text-white">Question</span>
                </div>

                <div class="card-body">
                  <h6 class="card-title mb-3">{{ q.content | title }}</h6>
                  <h6 class="text-muted">Answer : <span class="text-dark">{{ q.expected_answer | title }}</span></h6>
                  <p><span class="">Max score</span> : {{q.max_score }}</p>

                  <form method="POST" action="{{ url_for('interviews.rate_question',id=interview.id) }}" class="col-md-3 ps-0">
                    <input type='hidden' value='{{ q.id }}' name='question_id' id='question_id'>
                    <select class="form-control mb-2" id="user_id" name="user_id">
                      <option class="text-muted" value="None">Select evaluator</option>
                      {% for user in interview.users %}
                        <option value="{{user.id}}">{{ user.username }}</option>
                      {% endfor %}
                    </select>
                    <input type="number" id="rate" name="rate" class="form-control" placeholder="Your rate here" max=5 min=2>
                    <div class="pt-3">
                        <input type='submit' class="btn btn-success" value="Rate now">
                    </div>
                  </form>

                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No question for this interview <a href="{{ url_for('interviews.interview_add_question', id=interview.id) }}" class="btn btn-success btn-sm"> add here</a></p>
        {% endif%}
    </div>
</div>
{% endblock %}