{% extends 'base.html' %}
{% block content %}
<div class="mb-3 container justify-content-center d-flex">
    <form method='POST' action="" style="background:gainsboro;border:none" id="searchForm">
        <input type="text" value='{{ query }}' class="pb-1" placeholder="Search.." name="search" id="InterviewSearchField">
        <button type='submit' class="btn btn-success btn-sm" id='BtnSearchInterview'><i class="fa fa-search"></i></button>
    </form>
    <a href="{{ url_for('home') }}"><i class="fa fa-plus-circle text-success" aria-hidden="true" style='font-size:30px'></i></a>
</div>
<div class="container">
    <table class="table table-striped bg-white" id="interview-table">
        <thead class="bg-success text-white">
        <tr>
            <th>Title</th>
            <th>Candidate name</th>
            <th>Interview date</th>
        </tr>
        </thead>
        <tbody>
        {% for interview in interviews %}
        <tr>
            <td><a href="{{ url_for('interviews.detail', id=interview.id) }}" class="nav-link text-success">{{ interview.title | title}}</a></td>
            <td>{{ interview.candidate_name }}</td>
            <td>{{ interview.date.strftime("%m - %d - %Y") }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}